@font-face { font-family: Futura; src: url('futura.ttf'); }

body{
	font-family: "Futura";
	font-size: 2em;
	background: url(fondoFoto.JPG) no-repeat center center fixed;
	background-size: cover;
}
.contPrincipal{
	margin: 0 auto;
	padding: 30px;
	width: fit-content;
	max-width: 90%;
	background-color: rgba(111, 186, 209, 0.2);
	backdrop-filter: blur(4px);
}
h1{text-align:center;}
#tituloSalvaFecha{
	color:rgb(255, 255, 255);
	margin-bottom: 10px;
	font-size: 1.5em;
}
.opcionCalendario{
	margin: 0;
	font-size: 0.7em;
}

@media screen and (min-aspect-ratio:12/10){
body{
	font-size: 1em;
}
.contPrincipal{
	max-width: 60%;
}
h1{
	font-size: 2em;
}
#tituloSalvaFecha{
	font-size: 1.8em;
}
.opcionCalendario{
	margin: 0;
	font-size: 1.3em;
}
}