@font-face { font-family: Futura; src: url('futura.ttf'); }

body{
	font-family: "Futura";
	font-size: 2em;
	background-size: cover;
}
.contPrincipal{
	margin: 0 auto;
	padding: 30px;
	width: fit-content;
	width: 70%;
	background-color: rgb(218 246 255 / 20%);
	backdrop-filter: blur(1px);
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.contFondo{
	width: 80%;
	/* background-color: #83ff9819; */
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
}
#lienzo, #lienzo2{
	float: right;
}
h1{text-align:center;margin: 2px;}
#tituloSalvaFecha{
	color: rgb(255 255 255);
	margin: 2px;
	font-size: 1.6em;
	text-align:center;
}
.contador{background-color: #5A6680;padding: 20px;color: white;border-radius: 20px 0 20px 0;}

.tcont{padding-left: 5em;font-size: 0.6em;}

.botonesDate{
	text-align: center
}
h2{
	margin: 0;
	font-size: 1.5em;
	text-align: right;
	margin-top: 2em;
	text-shadow: -1px 5px 16px white;
	color: rgb(0 0 0);
}
p{
	font-size: 0.6em;
}
label{
    font-size: 1.3em;
}
input{
	font-size: 1.1em;
	padding: 0.3em;
	border: none;
	background: none;
	border-bottom: solid #5A6680;
	min-width: 400px;
}
textarea:focus, input:focus{
    outline: none;
	border-bottom: solid #ef7b47;
}
img{
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0.2em;
}
button{
	font-size: 1.2em;
	padding: 12px;
	background: #5A6680 !important;
	color: white;
	border: none;
	border-radius: 10px 0 10px 0;
}

.botonEmail{
	outline: 0;
	appearance: none;
	padding: 5px 20px;
	border: 0px solid transparent;
	border-radius: 4px;
	text-decoration: none;
	cursor: pointer;
	color: rgb(255, 255, 255);
	font-size: 40px;
	font-weight: 400;
	background-color: #5A6680;
	margin: 0.1em;
	border-radius: 10px 0 10px 0;
}
.botonEmail:hover{
	box-shadow: 2px 3px 4px #888888;
}
#google{
	background-color: #5A6680;
}
#outlook{
	background-color: #5A6680;
}
.respuesta{
color: #007a13;
}
#clave{
	width: 300px;
}
.imgMapa{
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	padding: 0.2em;
}
.imgMapote{
	width: 100%;
	display: block;
}
ropa{
	max-width: 300px;
}
#fotos{
	display: none;
}

/* ************Propiedades solo para desktop************ */
@media screen and (min-aspect-ratio:12/10){
body{
	font-size: 1em;
}
.contPrincipal{
	width: 50%;
}

.contFondo{
	width: 70%;
}
#ramas2{
	pointer-events: none;
	touch-action: none;
}
p{
	font-size: 1em;
	margin: 2px;
}
h1{
	font-size: 2em;
}
h2{
	font-size: 1.2em;
	margin-right: 15px;
	text-align: left;
}
button{
	font-size: 1em;
	padding: 7px;
}

input{
	font-size: 1em;
	width: 400px;
}
.botonEmail{
	font-size: 14px;
	padding: 10px 20px;
}
#tituloSalvaFecha{
	font-size: 1.8em;
}
.contador{
	padding: 20px;
	}
	
	.tcont{
	padding-left: 3em;
	font-size: 1em;
	}
.opcionCalendario{
	margin: 0;
	font-size: 1.3em;
}
.ropa{
	max-width: 300px;
}

}